<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar un deportista</title>
</head>
<body>
    <form action="/actualizardeportista" method="post" enctype="multipart/form-data">
        <h3>Edicion del deportista</h3>
        <br><br>
        <label for="documento">Documento: </label>
        <input readonly type="text" value="{{dep[0]}}" name="documento">
        <label for="msg">{{msg}}</label>
        <br>
        <label for="nombre">Nombre: </label>
        <input type="text" value="{{dep[1]}}" required name="nombre">
        <br>
        <label for="estatura">Estatura: </label>
        <input type="number" value="{{dep[2]}}"required name="estatura">
        <br>
        <label for="peso">Peso: </label>
        <input type="number" value="{{dep[2]}}"required name="peso">
        <br>
        <label for="nacimiento">Fecha de nacimiento: </label>
        <input type="date" value="{{dep[2]}}"required name="nacimiento">
        <br><br>
        <input type="submit" value="Guardar">
        <a href="/">Regresar</a>

    </form>
</body>
</html>