<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
</head>
<body>
    <form action="/guardardeportistas" method="post" enctype="multipart/form-data">
        <h1>AQUI TE REGISTRAS</h1>
        <br>
        <label for="documento">Documento: </label>
        <input type="num" required name="documento">
        <br>
        <label for="nombre">Nombre: </label>
        <input type="text" required name="nombre">
        <br>
        <label for="estatura">Estatura: </label>
        <input type="text" required name="estatura">
        <br>
        <label for="peso">Peso: </label>
        <input type="text" required name="peso">
        <br>
        <label for="nacimiento">Fecha nacimiento: </label>
        <input type="date" required name="nacimiento">
        <br>
        <input type="submit" value="Guardar">
        <br>
        <a href="/">Ingresar</a>
    </form>
</body>
</html>
</body>
</html>